<div class="nav">
    <div class="sb-sidenav-menu-heading"></div>
    <a class="nav-link" href="">
        <div class="sb-nav-link-icon"><i class="fas fa-2x fa-tachometer-alt"></i></div>
        Inicio
    </a>
    <a [routerLink]="['mantenimiento/cliente']" class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
        <div class="sb-nav-link-icon"><i class="fas fa-2x fa-address-book"></i></div>
        Clientes
        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
    </a>
    
    <a [routerLink]="['mantenimiento/proveedor']" class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
        <div class="sb-nav-link-icon"><i class="fas fa-2x fa-shipping-fast"></i></div>
        Proveedores
        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
    </a>

    <a [routerLink]="['mantenimiento/categoria']" class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
        <div class="sb-nav-link-icon"><i class="fas fa-2x fa-clipboard-list"></i></div>
        Categorias
        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
    </a>
    
    <a [routerLink]="['mantenimiento/producto']" class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
        <div class="sb-nav-link-icon"><i class="fas fa-2x fa-boxes"></i></div>
        Productos
        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
    </a>
    
</div>

