<div class="modal-header">
    <h4 class="modal-title pull-left">{{titulo}}</h4>
    <button (click)="cerrarModal(true)" type="button" class="close pull-right" aria-label="Close">
        <span class="text-danger" aria-hidden="true">&times;</span>
    </button>

</div>
<div class="modal-body">
    <form [formGroup]="formularioProducto" class="">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="">Código</label>
                    <input class="form-control" formControlName="idproducto" type="text">
                </div>
                <div class="form-group">
                    <label for="">Nombre</label>
                    <input class="form-control" formControlName="nombre" type="text">
                    <div class="text-danger" *ngIf="f['nombre'].errors && formularioProducto.touched">
                        <small *ngIf="f['nombre'].errors['required']" class="text-danger"> Campo Requerido</small>
                    </div>    
                </div>
                <div class="form-group">
                    <label for="">Stock</label>
                    <input class="form-control" formControlName="stock" type="text">
                    <div class="text-danger" *ngIf="f['stock'].errors && formularioProducto.touched">
                        <small *ngIf="f['stock'].errors['required']" class="text-danger"> Campo Requerido</small>
                        <small *ngIf="f['stock'].errors['minlength']" class="text-danger"> Minimo 8 caracteres</small>
                        <small *ngIf="f['stock'].errors['maxlength']" class="text-danger"> Máximo 12 caracteres</small>
                        <small *ngIf="f['stock'].errors['pattern']" class="text-danger"> Solo números</small>
                    </div>    
                </div>
                <div class="form-group">
                    <label for="">Imagen</label>
                    <input class="form-control" formControlName="imagen" type="image">
                <div class="form-group">
                    <label for="">Estado</label>
                    <select class="form-select" formControlName="estado">
                        <option value="">Seleccione...</option>
                        <option value="Activo">Activo</option>
                        <option value="Inactivo">Inactivo</option>
                    </select>
                </div>
                <div class="form-group">
                    <button (click)="cerrarModal(true)" class="float-right btn btn-danger btn-sm mr-3">
                        <i class="fas fa-ban"></i> Cancelar
                    </button>
                    <button [disabled]="formularioProducto.invalid" (click)="guardarDatos()" class="float-right btn btn-primary btn-sm mr-2">
                        <i class="fas fa-save"></i> Guardar
                    </button>
                    
                </div>
            </div>
        </div>
    </div>
    </form>
</div>

